<%- include("layouts/header.ejs") %>
    <main>
        <form action="/" method="post">
            <input type="text" name="plName" placeholder="Enter a programming language name">
            <button type="submit">Add</button>
        </form>
        <ul>
            <%if (plNames.length) {%>
                <%for (const plName of plNames) {%>
                    <li>
                        <%=plName%>
                    </li>
                    <%}%>
                        <%} else {%>
                            <p>Existing data not found</p>
                            <%}%>
        </ul>
    </main>
    <%- include("layouts/footer.ejs") %>
        </body>

        </html>